<ion-header [translucent]="true">
  <ion-toolbar [style.--background]="crudU.colorSistema">
    <ion-title style="color: white;">Registro de transacciones</ion-title>

    <ion-buttons slot="start">
      <ion-button (click)="GoHome()"><ion-icon style="color: white;" name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-card  style="border-radius: 20px;"  >
    <div *ngFor="let fecha of crud.getFechasAgrupadas()">
    <ion-card [style.--background]="crudU.colorSistema" >
      <ion-row style="border-radius: 20px; font-size: 10px; height: 25px;" [style.--background]="crudU.colorSistema">
        <ion-col size="7">
          <ion-label  style="margin-top: 4px; color: white;">{{ fecha }}</ion-label>
        </ion-col>

        <ion-col size="5">
          <ion-label  style="margin-top: 4px; color: white;">Total: <b style="font-size: 12px;">{{crud.totalNetoPorFecha[fecha] | currency:'USD':'symbol':'1.2-2'}}</b></ion-label>
        </ion-col>
      </ion-row>
    </ion-card>

      <div *ngFor="let transaccion of crud.transaccionesAgrupadas[fecha]">
        <div *ngFor="let categoria of transaccion.categoria">
          <div *ngFor="let subCategoria of categoria.subCategoria">
            <p></p>
            <ion-card #button [routerLink]="['/',transaccion.tipo_transaccion]" (click)="GetTransaccion(transaccion.id)">
              <ion-item >
                <fa-icon [icon]="subCategoria.icon" class="fa-xl" slot="start" ></fa-icon>
                <ion-list>
                  <ion-label style="font-size: 15px; color: #1C2833;"><b>{{categoria.nombre}}</b></ion-label> 
                  <ion-label style="font-size: 13px; color: #1C2833;"><b>{{subCategoria.nombre}}</b></ion-label>
                  
                </ion-list>
  
                <ion-list slot="end">
                  <div *ngIf="transaccion.tipo_transaccion == 'Egresos'">
                    <ion-label  style="font-size: 18px; color: red;"  > <b> {{transaccion.monto | currency:'USD':'symbol':'1.2-2'}}</b></ion-label>
                  </div>
                  <div *ngIf="transaccion.tipo_transaccion == 'Ingresos'">
                    <ion-label style="font-size: 18px; color: green;" > <b>{{transaccion.monto | currency:'USD':'symbol':'1.2-2'}}</b> </ion-label>
                  </div>
                  
                </ion-list>
  
              </ion-item>
            </ion-card>

          </div>
        </div>

      </div>
    </div>
    
  </ion-card>



</ion-content>
