<ion-header [translucent]="true">
  <ion-toolbar [style.--background]="crudU.colorSistema" >

    <ion-label style="font-size: 18px;">
      <b style="color:#ffffff"> Opciones</b>
    </ion-label>

    <ion-buttons slot="start">
      <ion-button (click)="GoHome()"><ion-icon style="color: white;" name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>

    <ion-item #button (click)="ModalPersonalizacion()">
      <mat-icon style="margin-right: 5px ; color: #1C2833 ; ">brush</mat-icon>
      <ion-label style="margin-left: 5px;" >Personalizacion</ion-label>

      <nz-modal nzCancelText="Salir" nzOkText="Ok" [(nzVisible)]="isVisiblePersonalizacion" nzTitle="Selecciona el color del sistema" (nzOnCancel)="handleCancelPersonalizacion()" (nzOnOk)="handleOkPersonalizacion()">
        <ng-container *nzModalContent>

          <ion-row>
            <ion-col size="4" style=" height: 70px;"  >
              <button (click)="SeleccionPersonalizacionColor('basico')" mat-stroked-button style="width: 90%; height: 90%; background-color: #1C2833; color:white" >Basico</button>
              
            </ion-col>

            <ion-col size="4" style=" height: 70px;"  >
              <button (click)="SeleccionPersonalizacionColor('azul')"  mat-stroked-button style="width: 90%; height: 90%; background-color: blue; color:white" >Azul</button>
              
            </ion-col>

            <ion-col size="4" style=" height: 70px;">
              <button (click)="SeleccionPersonalizacionColor('violeta')" mat-stroked-button style="width: 90%; height: 90%; background-color: blueviolet; color:white" >Violeta</button>
              
            </ion-col>

          </ion-row>

          <ion-row>
            <ion-col size="4" style="height: 70px; " >
              <button (click)="SeleccionPersonalizacionColor('rojo')" mat-stroked-button style="width: 90%; height: 90%; background-color: #8b0000; color:white" >Rojo</button>
              
            </ion-col>

            <ion-col size="4" style="height: 70px;" >
              <button (click)="SeleccionPersonalizacionColor('naranjo')" mat-stroked-button style="width: 90%; height: 90%; background-color: orange; color:white " >Naranjo</button>
            </ion-col>

            <ion-col size="4" style="height: 70px;" >
              <button (click)="SeleccionPersonalizacionColor('purpura')" mat-stroked-button style="width: 90%; height: 90%; background-color: #800080;color:white " >Purpura</button>
            </ion-col>

          </ion-row>
        </ng-container>
      </nz-modal>
      
    </ion-item>

    <ion-item #button (click)="ModalRespaldo()">
      <mat-icon style="margin-right: 5px ; color: #1C2833 ;">cloud_upload</mat-icon>
      <ion-label style="margin-left: 5px;" >Borrar todos los datos</ion-label>

      <nz-modal [nzOkLoading]="isOkButtonEnabled" nzCancelText="Salir" nzOkText="Ok" [(nzVisible)]="isVisibleRespaldo" nzTitle="Respaldo y restauracion" (nzOnCancel)="handleCancelRespaldo()" (nzOnOk)="borrarRegistros()">
        <ng-container *nzModalContent>
          
          <div style="border: 0.5px solid grey; border-radius: 15px;">
            <ion-row >

              <ion-col size="10">
                <ion-label > Eliminar todos los productos</ion-label>
              </ion-col>
  
              <ion-col size="2">
                <mat-slide-toggle (click)="validarSeleccionEliminacion()" [(ngModel)]="isChekedDeleteProductos"></mat-slide-toggle>
              </ion-col>
  
            </ion-row>
            <br>
            <ion-row >
  
              <ion-col size="10">
                <ion-label > Eliminar todos las transacciones</ion-label>
              </ion-col>
  
              <ion-col size="2">
                <mat-slide-toggle (click)="validarSeleccionEliminacion()" [(ngModel)]="isChekedDeleteTransacciones"></mat-slide-toggle>
              </ion-col>
  
            </ion-row>

          </div>

        </ng-container>
      </nz-modal>
      
    </ion-item>

    <ion-item #button (click)="ModalVersionApp()">
      <mat-icon style="margin-right: 5px ; color: #1C2833 ; ">update</mat-icon>
      <ion-label style="margin-left: 5px;" >Version de la Aplicación</ion-label>

      <nz-modal nzCancelText="Salir" nzOkText="Ok" [(nzVisible)]="isVisibleVersionApp" nzTitle="Version de la app" (nzOnCancel)="handleCancelVersionApp()" (nzOnOk)="handleOkVersionApp()">
        <ng-container *nzModalContent>
          <p>Version: 2.3.1 </p>
         
        </ng-container>
      </nz-modal>
      
    </ion-item>

    <ion-item #button (click)="ModalInfo()">
      <mat-icon style="margin-right: 5px ; color: #1C2833 ;">info</mat-icon>
      <ion-label style="margin-left: 5px;" >Acerca de Nosotros</ion-label>

      <nz-modal nzCancelText="Salir" nzOkText="Ok" [(nzVisible)]="isVisibleInfo" nzTitle="Nuestros objetivos" (nzOnCancel)="handleCancelInfo()" (nzOnOk)="handleOkInfo()">
        <ng-container *nzModalContent>

          <p>Nuestra aplicacion surge de una problematica actual en las personas que estan iniciando 
            su microempresa ya que muchos no tienen las herramientas necesarias para manejar
            sus transascciones, inventario y ganancias generales. </p>
          <p>Mision y vision:</p>
          <p>
            Nuestra misión es proporcionar herramientas personalizadas y efectivas que permitan a las PYMES
            administrar sus finanzas de manera inteligente, alcanzar sus metas financieras y mejorar su
            conocimiento en temas financieros. Buscamos ser el aliado estratégico que guía a las PYMES
            hacia el éxito financiero y el crecimiento sostenible.
          </p>
          <p>
            Nuestra vision es ser la principal plataforma móvil de gestión financiera para PYMES, reconocida por su innovación,
            confiabilidad y contribución significativa al fortalecimiento económico de las empresas.
            Nos esforzamos por ser líderes en la provisión de soluciones financieras personalizadas
            que impulsan la toma de decisiones informadas, facilitan la planificación estratégica y
            fomentan la prosperidad financiera de nuestras PYMES asociadas.
          </p>
        </ng-container>
      </nz-modal>
      
    </ion-item>

  </ion-list>

</ion-content>