#Containerlogin{
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  }

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

  #ion-grid-login {
   
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  #ButtonsLogin{

    background-color: rgba(246, 74, 74, 0.7);
    color: #1C2833;

  }


  /* Hacer transparente el fondo del ion-modal */
  .transparent-modal-background {
    background-color: rgba(0, 0, 0, 0.5); /* El último valor (0.5) controla la opacidad, puedes ajustarlo según tus preferencias */
  }

  /* Hacer transparente el contenido del ion-modal */
  .transparent-modal-content {
    background-color: transparent;
    color: white; /* Cambia el color del texto si es necesario */
  }

  #TransparentModal{

    opacity: var(--backdrop-opacity, 50)
  }

  
  
  
  
  
  

 
  
  
  
  
  