<ion-content [fullscreen]="true">

  <app-video-background></app-video-background>

  <ion-grid style="height: 100%;">

    <div class="center-content">

      <ion-card  style="border-radius: 15px; border: 1px solid grey; text-align: center; margin: 0 auto; width: 100%; background-color: rgba(255, 255, 255, 0.2);">

        <div>
          
          <img  style="border-radius: 50% ; overflow: hidden;"  width="150px" height="150px" src="assets/icon/logoabyga.png" >
          <br>
        </div>
  
        <ion-grid>
  
          <div style="border-radius: 15px; border: 0.5px solid grey;">
            <br>
  
            <ion-row >
              <mat-form-field style="margin: 0 auto; width: 85%;" appearance="outline">
        
                <mat-label>Nombre de usuario</mat-label>
                <input [(ngModel)]="UsuarioLogin" matInput placeholder="ej: Diego1996">
        
              </mat-form-field>
            </ion-row>
        
            <ion-row>
        
              <mat-form-field style="margin: 0 auto; width: 85%;" appearance="outline"> 
        
                <mat-label>Contrasena</mat-label>
                <input matInput [(ngModel)]="claveLogin" [type]="hide ? 'password' : 'text'">
        
                <button  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon  >{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
        
              </mat-form-field>
        
            </ion-row>
            
            <ion-row>
              <button (click)="validarUsuario()" style="margin: 0 auto; width: 85%; border-radius: 20px; border: 2px solid grey;" mat-stroked-button><ion-label>Login</ion-label></button>
            </ion-row>
  
            <ion-row>
              <ion-label style="font-size: 12px; margin: 0 auto; width: 85%; " >Olvido su clave?</ion-label>
            </ion-row>
  
          </div>
          <br>
          <div style="border-radius: 15px; border: 0.5px solid grey;">
            
            <ion-grid>
              <ion-row>
                <ion-col size="12">
                  <button color="warn" style="margin: 0 auto; width: 100%; border-radius: 20px;" mat-stroked-button><ion-label>Login con Gmail</ion-label></button>
                </ion-col>
              </ion-row>
            </ion-grid>
  
          </div>
          <br>
          <div style="border-radius: 15px; border: 0.5px solid grey;">
            
            <ion-grid>
              <ion-row>
                <ion-col size="6">
                  <button  color="warn" (click)="setOpenRegistro(true)" style="margin: 0 auto; width: 100%; border-radius: 20px;" mat-stroked-button><ion-label> Crear cuenta</ion-label></button>
                </ion-col>
        
                <ion-col size="6">
                  <button color="warn" (click)="GoHome()"  style="margin: 0 auto; width: 100%; border-radius: 20px;  " mat-stroked-button><ion-label>Omitir registro</ion-label></button>
                </ion-col>
  
              </ion-row>
            </ion-grid>
  
          </div>
  
        </ion-grid>
        
      </ion-card>

    </div>

    

    <ion-modal [isOpen]="isModalOpenLogin" >
      <ng-template>
        <ion-header>
          <ion-toolbar>
      
            <ion-buttons slot="start">
              <ion-button (click)="setOpenLogin(false)">Close</ion-button>
            </ion-buttons>
  
            <ion-buttons slot="end">
              <ion-button (click)="setOpenLogin(false)">Save</ion-button>
            </ion-buttons>
  
          </ion-toolbar>
        </ion-header>
        <ion-content >
          <br>
          <h2 style="text-align: center;">Inicio de sesion</h2>

          <ion-grid>

            <div style="border-radius: 15px; border: 0.5px solid grey;">
              <br>
              <ion-row >
                <mat-form-field style="margin: 0 auto; width: 60%;" appearance="outline">
          
                  <mat-label>Nombre de usuario</mat-label>
                  <input [(ngModel)]="UsuarioLogin" matInput placeholder="ej: Diego1996">
          
                </mat-form-field>
              </ion-row>
          
              <p></p>
          
              <ion-row>
          
                <mat-form-field style="margin: 0 auto; width: 60%;" appearance="outline"> 
          
                  <mat-label>Contrasena</mat-label>
                  <input matInput [(ngModel)]="claveLogin" [type]="hide ? 'password' : 'text'">
          
                  <button  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon  >{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
          
                </mat-form-field>
          
              </ion-row>
              
              <ion-row>
                <button (click)="validacionCorrecta()" style="margin: 0 auto; width: 60%; border-radius: 20px;" mat-stroked-button><ion-label>Login</ion-label></button>
              </ion-row>

              <ion-row>
                <ion-label style="font-size: 12px; margin: 0 auto; width: 60%; " >Olvido su clave?</ion-label>
              </ion-row>

              <br>
            </div>
            <br>

            <div style="border-radius: 15px; border: 0.5px solid grey;">
              
              <br>
              <ion-row>
                <button color="warn" style="margin: 0 auto; width: 60%; border-radius: 20px;" mat-stroked-button><ion-label>Login con Gmail</ion-label></button>
              </ion-row>
              <br>
              <ion-row>
                <button color="primary" style="margin: 0 auto; width: 60%; border-radius: 20px;" mat-stroked-button><ion-label>Login con Facebook</ion-label></button>
              </ion-row>

              <br>
            </div>

          </ion-grid>
          
        </ion-content>
      </ng-template>
    </ion-modal>

    <ion-modal [isOpen]="isModalOpenRegistro">
      <ng-template>
        <ion-header>
          <ion-toolbar>
      
            <ion-buttons slot="start">
              <ion-button (click)="setOpenRegistro(false)">Retroceder</ion-button>
            </ion-buttons>
  
            <ion-buttons slot="end">
              <ion-button (click)="agregarUsuario()">Registrarse</ion-button>
            </ion-buttons>
  
          </ion-toolbar>
        </ion-header>
        <ion-content >
        
          <ion-grid>

            <mat-stepper #stepper orientation="vertical">
              <mat-step [stepControl]="firstFormGroup" errorMessage="Name is required.">

                <form [formGroup]="firstFormGroup">

                  <ng-template matStepLabel>Registro de usuario</ng-template>
                  <br>
                  
                  <mat-form-field appearance="outline" class="centered-container">
                    <mat-label>Nombre de usuario</mat-label>
                    <input matInput placeholder="ej: Diego1996" [(ngModel)]="nombreUsuario" formControlName="validacionDuplicado" required>
                    <div *ngIf="submitted && validarUsuarioDuplicado()" style="color: red;">
                      El usuario ya existe
                    </div>
                  </mat-form-field>
                  
                  

                  <mat-form-field appearance="outline" class="centered-container">
                    <mat-label>Correo electronico</mat-label>
                    <input matInput placeholder="example@gmail.com" [(ngModel)]="correo" formControlName="firstCtrl" required>
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="centered-container">
                    <mat-label>Telefono</mat-label>
                    <input matInput placeholder="99999999" [(ngModel)]="telefono" formControlName="firstCtrl">
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="centered-container">
                    <mat-label>Contrasena</mat-label>
                    <input matInput placeholder="99999999" [(ngModel)]="contrasena" formControlName="firstCtrl" required>
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="centered-container">
                    <mat-label>Repita contrasena</mat-label>
                    <input matInput placeholder="99999999" [(ngModel)]="Repcontrasena" formControlName="firstCtrl" required>
                  </mat-form-field>
                    
                  <div>
                    <button (click)="validarUsuarioDuplicado()" matStepperNext color="primary" style="margin: 0 auto; width: 100%; border-radius: 20px;" mat-stroked-button><ion-label>Siguiente</ion-label></button>
                  </div>

                </form>

              </mat-step>

              <mat-step [stepControl]="secondFormGroup" errorMessage="Address is required.">
                
                <form [formGroup]="secondFormGroup">
                  <ng-template matStepLabel>Creacion de negocio</ng-template>
                  <br>
                  <mat-form-field appearance="outline" class="centered-container">
                    <mat-label>Nombre de tu negocio</mat-label>
                    <input matInput placeholder="Ej: Almacen R&Y" [(ngModel)]="nombreNegocio" formControlName="secondCtrl" required>
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="centered-container">
                    <mat-label>Direccion fisica</mat-label>
                    <input matInput placeholder="Ej: Av. Vicuna Mackena 2043, Santiago" [(ngModel)]="direccionNegocio" formControlName="secondCtrl" required>
                  </mat-form-field>

                  <div>
                    
                    <button matStepperPrevious color="primary" style="margin: 0 auto; width: 100%; border-radius: 20px;" mat-stroked-button><ion-label>Atras</ion-label></button>
                    <p></p>
                    <button matStepperNext color="primary" style="margin: 0 auto; width: 100%; border-radius: 20px;" mat-stroked-button><ion-label>Siguiente</ion-label></button>
                  </div>
                </form>
              </mat-step>
              <mat-step>
                <ng-template matStepLabel>Listo</ng-template>
                <p style="text-align: center;">Registro de usuario completo.</p>
                <div>
                  <button matStepperPrevious color="primary" style="margin: 0 auto; width: 100%; border-radius: 20px;" mat-stroked-button><ion-label>Atras</ion-label></button>
                  <p></p>
                  <button (click)="stepper.reset()" color="primary" style="margin: 0 auto; width: 100%; border-radius: 20px;" mat-stroked-button><ion-label>Reiniciar registro</ion-label></button>
                  <p></p>
                  <button (click)="agregarUsuario()" color="primary" style="margin: 0 auto; width: 100%; border-radius: 20px;" mat-stroked-button><ion-label>Siguiente</ion-label></button>
                </div>
              </mat-step>
            </mat-stepper>

          </ion-grid>
          
        </ion-content>
      </ng-template>
    </ion-modal>

    <ion-modal [isOpen]="isModalOpenUsuarios">
      <ng-template>
        <ion-header>
          <ion-toolbar>
      
            <ion-buttons slot="start">
              <ion-button (click)="setOpenUsuarios(false)">Close</ion-button>
            </ion-buttons>
  
            <ion-buttons slot="end">
              <ion-button (click)="setOpenUsuarios(false)">Save</ion-button>
            </ion-buttons>
  
          </ion-toolbar>
        </ion-header>
        <ion-content >
          <br>
          <h2 style="text-align: center;">Usuarios Registrados</h2>

          <ion-grid>

            

          </ion-grid>
          
        </ion-content>
      </ng-template>
    </ion-modal>


  </ion-grid>



</ion-content>
