<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title style="color: white; text-align: center;">Cuenta de usuario</ion-title>

    <ion-buttons slot="start">
      <ion-button (click)="GoHome()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-grid>

    <div style="text-align: center;">
      <p></p>
      <ion-avatar style="margin: 0 auto;"><img src="assets/icon/favicon.png"></ion-avatar>
      <p></p>
      <ion-label>{{nombreUsuario}}</ion-label>
      <br>
      <ion-label>{{correousuario}}</ion-label>
    </div>

    <br>

      <ion-card class="centered-card">
        <br>
        <button color="warn" (click)="setOpenSuscripciones(true)" style="margin: 0 auto; width: 60%; border-radius: 20px" mat-stroked-button>
          <ion-label>Plan actual: </ion-label>
        </button>
        <br>
        <button (click)="cerrarSesion()" [routerLink]="['/login']" color="warn" style="margin: 0 auto; width: 60%; border-radius: 20px " mat-stroked-button>
          <ion-label>Cerrar sesion: </ion-label>
        </button>
        <br>

      </ion-card>

      <ion-modal [isOpen]="isModalValidacionSuscripcion">
        <ng-template>
          <ion-header>
            <ion-toolbar>
        
              <ion-buttons slot="start">
                <ion-button (click)="setOpenValidacionSuscripcion(false)">Cerrar</ion-button>
              </ion-buttons>
  
            </ion-toolbar>
          </ion-header>

          <ion-content>
            <p></p>
            <div>
              <h1 style="text-align: center;">{{messageValidacion}}</h1>
              <div *ngIf="messageValidacion == 'Transaccion realizada con exito'">
                <p></p>
                <p style="text-align: center;">Ahora puedes usar todos los servicios de la aplicacion de forma ilimitada !</p>
                <p></p>
              </div>
              <div>
                <p style="text-align: center;">
                  <img [src]="iconValidacion" width="120px" height="120px">
                </p>
                
              </div>
            </div>
            
          </ion-content>

        </ng-template>

      </ion-modal>

      <ion-modal [isOpen]="isModalOpenSuscripciones">
        <ng-template>
          <ion-header>
            <ion-toolbar>
        
              <ion-buttons slot="start">
                <ion-button (click)="setOpenSuscripciones(false)">Atras</ion-button>
              </ion-buttons>
    
            </ion-toolbar>
          </ion-header>
          <ion-content >
            <br>
            <h2 style="text-align: center;">Suscripciones</h2>
  
            <ion-grid>

              <swiper-container  [slidesPerView]="1.2" (slidechange)="onSlideChange($event)" >

                <swiper-slide>
                  <ion-card  style="border-radius: 20px;">
                
                    <div style="text-align: center;">
    
                      <ion-label style="font-size: 20px;"><b>Gratis </b></ion-label>
                      <p></p>
                      <ion-label style="font-size: 10px;"> Para negocios en crecimiento </ion-label>
                      <p></p>
                      <ion-label style="font-size: 10px;"> El plan incluye: </ion-label>
                      <p></p>
                      <ion-label style="font-size: 12px;">
                        <ion-label>
                          * Agregar hasta 30 productos.
                        </ion-label>
                        <br>
                        <ion-label>
                          * Realizar hasta 20 ventas al dia.
                        </ion-label>
                        <br>
                        <ion-label>
                          * Registrar hasta 50 transacciones.
                        </ion-label>
                      
                      </ion-label>
                      <p></p>
                      <ion-label style="font-size: 30px; color: #1C2833;"><b>$0 </b></ion-label>
                      <ion-label style="font-size: 15px;"> al año</ion-label>
                      <p></p>
    
                    </div>
                    
                  </ion-card>
                  
                </swiper-slide>

                <swiper-slide>
                  <ion-card  style="border-radius: 20px;" >
                
                    <div style="text-align: center;">
    
                      <ion-label style="font-size: 20px;"><b>Premium </b></ion-label>
                      <p></p>
                      <ion-label style="font-size: 10px;"> Para negocios en crecimiento </ion-label>
                      <p></p>
                      <ion-label style="font-size: 10px;"> El plan incluye: </ion-label>
                      <p></p>
                      <ion-label style="font-size: 12px;">

                        <ion-label>
                          * Agregar productos sin limites.
                        </ion-label>
                        <br>
                        <ion-label>
                          * Sin limites de ventas.
                        </ion-label>
                        <br>
                        <ion-label>
                          * Sin limite de registro de transacciones.
                        </ion-label>
                        
                      </ion-label>
                      <p></p>
                      <ion-label style="font-size: 30px; color: #1C2833;"><b>$22.900 </b></ion-label>
                      <ion-label style="font-size: 15px;"> al año</ion-label>
                      <p></p>
        
                    </div>
                    
                  </ion-card>

                </swiper-slide>
                
              </swiper-container>

            </ion-grid>
            
          </ion-content>

          <ion-footer>
            <ion-row>

              <ion-col size="12">

                <button (click)="setOpenPago(true)" style="margin: 0 auto; width: 100%; background-color: #1C2833; color: white;" mat-stroked-button>
                  <ion-label >Suscribirme al plan Premium</ion-label>
                </button>

                <ion-modal [isOpen]="isModalOpenPago">
                  <ng-template>
                    <ion-header>
                      <ion-toolbar>
                  
                        <ion-buttons slot="start">
                          <ion-button (click)="setOpenPago(false)">Close</ion-button>
                        </ion-buttons>
              
                        <ion-buttons slot="end">
                          <ion-button (click)="setOpenPago(false)">Save</ion-button>
                        </ion-buttons>
              
                      </ion-toolbar>
                    </ion-header>
                    <ion-content >

                      <ion-card class="centered-card">
                        <H1> Continua la transaccion con: </H1>
                        <p></p>
                        
                        <p></p>
                          <form action="{{url}}" method="POST">
                        
                            <input type="hidden" name="token_ws" value="{{token}}"/>
                            <button (click)="redirigirUsuario()" style="margin: 0 auto; width: 100%; background-color: #1C2833; color: white;" mat-stroked-button>
                              Web Pay
                            </button>
                            
                         </form>
                        
                         <p></p>
                      </ion-card>
                      
                    </ion-content>
                      
                  </ng-template>
                </ion-modal>

              </ion-col>

            </ion-row>

          </ion-footer>
        </ng-template>
      </ion-modal>

  </ion-grid>

</ion-content>
