.centered-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*height: 100vh;  Asegura que el card ocupe toda la altura de la pantalla */
}

ion-icon {
    font-size: 24px; /* Ajusta el tamaño del icono */
    color: white; /* Cambia el color del icono según tu diseño */
}

.selected {
    color: white;
    border: 0.5px solid transparent;
    border-color: blue;
    background-color: #1C2833 ;
}

.selectedPrecio {
    color: white;
}