<ion-header [translucent]="true">
  <ion-toolbar color="primary">

    <ion-label style="font-size: 18px; ">
      <b style="color:white">{{TipoTrans}} </b>
    </ion-label>

    <ion-buttons slot="start">
      <ion-button (click)="GoHome()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>

      <ion-buttons slot="end">
        <div *ngIf="crud.ActiveModificarTransaccion == true">
          <ion-button id="present-alert" ><fa-icon style="color:white" [icon]=faTrashCan class="fa-2xl"></fa-icon></ion-button>
        </div>
        
      </ion-buttons>

      <ion-alert
        trigger="present-alert"
        header="Desea eliminar la transaccion?"
        [buttons]="alertButtons"
        (didDismiss)="setResult($event)"
      ></ion-alert>

      <ion-toast
          [isOpen]="isToastOpenEliminar"
          message="Transaccion eliminada"
          [duration]="1000"
          (didDismiss)="ToastEliminarTransaccion(false)"
      ></ion-toast>
    
    <ion-title></ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

    <mat-tab-group (selectedTabChange)="onTabChange($event)">

      <mat-tab label="{{TipoTrans}} Variables"> 
        
        <ion-list>
         
          <!-- Monto Transaccion -->
          <p></p>
          
          
          <ion-row>

            <ion-col size="1" style="display:flex; justify-content: center; align-items: center;">
              <fa-icon [icon]=IconTransaccion class="fa-2xl"></fa-icon>
            </ion-col>

            <ion-col size="11">
              <ion-input style="height: 80px; font-size: 20px; " [disabled]="isDisabledInput" [(ngModel)]="MontoTransaccion" label="Monto" type="number" labelPlacement="floating" placeholder="total de ingresos" fill="outline"></ion-input>
            </ion-col>

            <ion-toast
              [isOpen]="isToastOpenValidarInput"
              message="Falta indicar monto!"
              [duration]="500"
              (didDismiss)="ToastValidarInput(false)"
            ></ion-toast>

          </ion-row>

      
        
        <p></p>
      
          <!-- Calendario -->
          <ion-row>
            <ion-col size="1" style="display:flex; justify-content: center; align-items: center;">
              <fa-icon [icon]=faCalendarDays class="fa-2xl" ></fa-icon>
            </ion-col>

            <ion-col size="11">
              <button mat-stroked-button style="width: 100%;" >
                <ion-datetime-button fill="outline"  datetime="datetime" style="width: 100%;"></ion-datetime-button>
              </button>
              
            </ion-col>

          </ion-row>
        
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime  [(ngModel)]="selectedDate" id="datetime" [showDefaultButtons]="true" doneText="Aceptar" cancelText="Cancelar" display-format="DD/MM/YYYY"
              display-timezone="false"></ion-datetime>
            </ng-template>
          </ion-modal>
      
          <!-- Categorias -->

          <ion-row >
            <ion-col size="1">
              
            </ion-col>

            <ion-col size="11">
              <ion-label>{{NombreCat}}</ion-label>
            </ion-col>

          </ion-row>
          <ion-row>

            <ion-col size="1" style="display:flex; justify-content: center; align-items: center;">
              <fa-icon  [icon]=IconCat class="fa-2xl" ></fa-icon>
            </ion-col>

            <ion-col size="11">
              
              <button [disabled]="isDisabledInput" mat-stroked-button style="width: 100%;" (click)="setOpenCategoria(true)">
                
                <ion-label>{{NombreSubCat}}</ion-label>
                
                </button>
            </ion-col>
            
          </ion-row>
          
            <ion-modal [isOpen]="isModalOpenCategoria">
              <ng-template>
                <ion-header>
                  <ion-toolbar>
              
                    <ion-buttons slot="start">
                      <ion-button (click)="setOpenCategoria(false)">Close</ion-button>
                    </ion-buttons>
      
                    <ion-searchbar animated="true" placeholder="Animated"></ion-searchbar>
      
                    <ion-buttons slot="end">
                      <ion-button (click)="setOpenCategoria(false)">Save</ion-button>
                    </ion-buttons>
      
                  </ion-toolbar>
                </ion-header>

                <ion-content class="ion-padding">

        
                  <ion-grid *ngIf="TipoTrans == 'Egresos'">
                    <ion-list *ngFor="let item of ArrayCategoriasGastos">
      
                      <ion-item style="text-align: center;">
                        <ion-label>{{item.name}}</ion-label>
                      </ion-item>
      
                      <ion-row>
                        <ion-col sizeSm="3" sizeMd="3" sizeLg="2" size="4" *ngFor="let sub of item.sub">
                          
                          <ion-row style="display:flex; justify-content: center; align-items: center; ">
                            <button style="color: #1C2833;" nzSize="large" nz-button nzType="default" nzShape="circle" (click)="ChangeCategoria(item.name,sub.nameSub, sub.icon,item.id,sub.id)">
                              <fa-icon [icon]="sub.icon" class="fa-xl"></fa-icon>
                            </button>
                          </ion-row>

                          <ion-row style="display:flex; justify-content: center; align-items: center;">
                            <ion-label style="font-size: 10px; text-align: center;">{{sub.nameSub}}</ion-label>
                          </ion-row>
                            
                        </ion-col>
                      </ion-row>
                      
                      

            
                    </ion-list>
                    
                  </ion-grid>
                  
      
                  <ion-grid *ngIf="TipoTrans == 'Ingresos'">
                    <ion-list *ngFor="let item of ArrayCategoriasIngresos">
      
                      <ion-item style="text-align: center;">
                        <ion-label>{{item.name}}</ion-label>
                      </ion-item>
      
                      <ion-row>
                        <ion-col sizeSm="3" sizeMd="3" sizeLg="2" size="4" *ngFor="let sub of item.sub">
      
                          <ion-row style="display:flex; justify-content: center; align-items: center;">
                            <button style="color: #1C2833;" nzSize="large" nz-button nzType="default" nzShape="circle" (click)="ChangeCategoria(item.name,sub.nameSub, sub.icon,item.id,sub.id)">
                              <fa-icon [icon]="sub.icon" class="fa-xl"></fa-icon>
                            </button>
                          </ion-row>

                          <ion-row style="display:flex; justify-content: center; align-items: center;">
                            <ion-label style="font-size: 10px; text-align: center;">{{sub.nameSub}}</ion-label>
                          </ion-row>
                            
                        </ion-col>
                      </ion-row>
            
                    </ion-list>
                  </ion-grid>
                  
                </ion-content>
              </ng-template>
            </ion-modal>
            <br>
          <!-- Recordatorios -->
            <ion-row>
              <ion-col size="1"  style="display:flex; justify-content: center; align-items: center;" >
                <fa-icon [icon]="iconRecordatorios" class="fa-2xl"></fa-icon>
              </ion-col >
              <ion-col size="4" >

              </ion-col>
              <ion-col size="7"  >
                 <mat-slide-toggle (click)="changeicon()" [(ngModel)]="validarRecordatorios">Recordatorios </mat-slide-toggle>

              </ion-col>
              
            </ion-row>
            <br>

            

          <!-- Descripcion -->
          
            <form class="example-form">
          
              <mat-form-field class="example-full-width" style="width: 100%;">
                <mat-label  >Leave a comment</mat-label>
                <textarea name="MatAbonos" [(ngModel)]="descripcion" matInput placeholder="Ex. It makes me feel..."></textarea>
              </mat-form-field>
            </form>
        
        </ion-list>

        <!-- Productos -->

        <div *ngIf="this.ArrayCategoriasIngresos[1].id == 2">
          
          <div *ngIf="GetData">

            <div *ngFor="let transaccion of crud.transacciones">
              <div *ngIf="transaccion.producto">
                
                <div *ngIf="GetData.id == transaccion.id">
                  <div *ngFor="let producto of transaccion.producto | keys">
    
                    <div style="border: 0.5px solid grey; border-radius: 15px; font-size: 14px; color: grey;">
                      
                      <ion-row>
                        
                        <ion-col size="6">
    
                          <ion-row>
                            <ion-label > Código: <b>{{ producto.key }}</b></ion-label>
                          </ion-row>
    
                          <ion-row>
                            <ion-label>Nombre: <b>{{ producto.value.nombre }}</b></ion-label>
                          </ion-row>
    
                          <ion-row>
                            <ion-label>Cantidad: <b>{{ producto.value.cantidad }}</b></ion-label>
                          </ion-row>
    
                          <ion-row>
                            <ion-label>Stock: <b>{{ producto.value.stock }}</b></ion-label>
                          </ion-row>
    
                          <ion-row>
                            <ion-label>Total: <b>{{ producto.value.total | currency:'USD':'symbol':'1.2-2'}}</b></ion-label>
                          </ion-row>
                        </ion-col>
                        
                        <ion-col size="6">
    
                          <img src="{{producto.value.img}}" alt="img producto" width="100px" height="80px">
    
                        </ion-col>
    
                      </ion-row>
    
                    </div>
                    <br>
                  </div>
                
                </div>
              </div>
              
            </div>
          </div>
          

        </div>

      </mat-tab>
      
      <mat-tab label="{{TipoTrans}} Fijos" >
        <ion-list>

          <!-- Monto Transaccion -->
          
          <ion-row>

            <ion-col size="1" style="display:flex; justify-content: center; align-items: center;">
              <fa-icon [icon]=IconTransaccion class="fa-2xl"></fa-icon>
            </ion-col>

            <ion-col size="11">
              <ion-input style="height: 80px; font-size: 20px; "  [(ngModel)]="MontoTransaccion" label="Monto" type="number" labelPlacement="floating" placeholder="total de ingresos" fill="outline"></ion-input>
            </ion-col>

          </ion-row>
          <br>
          
          <!-- Calendario -->
          <ion-row>
            <ion-col size="1" style="display:flex; justify-content: center; align-items: center;">
              <fa-icon [icon]=faCalendarDays class="fa-2xl" ></fa-icon>
            </ion-col>

            <ion-col size="11">
              <button mat-stroked-button style="width: 100%;" >
                <ion-datetime-button fill="outline"  datetime="datetime" style="width: 100%;"></ion-datetime-button>
              </button>
              
            </ion-col>

          </ion-row>
          
        
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime  [(ngModel)]="selectedDate" id="datetime" [showDefaultButtons]="true" doneText="Aceptar" cancelText="Cancelar" display-format="DD/MM/YYYY"
              display-timezone="false"></ion-datetime>
            </ng-template>
          </ion-modal>
         
          <br>
          <!-- Categorias -->
          <ion-row >
            <ion-col size="1">
              
            </ion-col>

            <ion-col size="11">
              <ion-label >{{NombreCat}}</ion-label>
            </ion-col>

          </ion-row>
          <ion-row>

            <ion-col size="1" style="display:flex; justify-content: center; align-items: center;">
              <fa-icon  [icon]=IconCat class="fa-2xl" ></fa-icon>
            </ion-col>

            <ion-col size="11">
              
              <button mat-stroked-button style="width: 100%;" (click)="setOpenCategoria(true)">
                
                <ion-label>{{NombreSubCat}}</ion-label>
                
                </button>
            </ion-col>
              
          </ion-row>
          
            <ion-modal [isOpen]="isModalOpenCategoria">
              <ng-template>
                <ion-header>
                  <ion-toolbar>
              
                    <ion-buttons slot="start">
                      <ion-button (click)="setOpenCategoria(false)">Close</ion-button>
                    </ion-buttons>
      
                    <ion-searchbar animated="true" placeholder="Animated"></ion-searchbar>
      
                    <ion-buttons slot="end">
                      <ion-button (click)="setOpenCategoria(false)">Save</ion-button>
                    </ion-buttons>
      
                  </ion-toolbar>
                </ion-header>
                <ion-content class="ion-padding">
        
                  <ion-grid *ngIf="TipoTrans == 'Egresos'">
                    <ion-list *ngFor="let item of ArrayCategoriasGastos">
      
                      <ion-item style="text-align: center;">
                        <ion-label>{{item.name}}</ion-label>
                      </ion-item>
      
                      <ion-row>
                        <ion-col sizeSm="3" sizeMd="3" sizeLg="2" size="4" *ngFor="let sub of item.sub">
      
                          <ion-row style="display:flex; justify-content: center; align-items: center;">
                            <button style="color: #292E49 ;" nzSize="large" nz-button nzType="default" nzShape="circle" (click)="ChangeCategoria(item.name,sub.nameSub, sub.icon,item.id,sub.id)">
                              <fa-icon [icon]="sub.icon" class="fa-xl"></fa-icon>
                            </button>
                          </ion-row>

                          <ion-row style="display:flex; justify-content: center; align-items: center;">
                            <ion-label style="font-size: 10px; text-align: center;">{{sub.nameSub}}</ion-label>
                          </ion-row>
                            
                        </ion-col>
                      </ion-row>
            
                    </ion-list>
                  </ion-grid>
      
                  <ion-grid *ngIf="TipoTrans == 'Ingresos'">
                    <ion-list *ngFor="let item of ArrayCategoriasIngresos">
      
                      <ion-item style="text-align: center;">
                        <ion-label >{{item.name}}</ion-label>
                      </ion-item>
      
                      <ion-row>
                        <ion-col sizeSm="3" sizeMd="3" sizeLg="2" size="4" *ngFor="let sub of item.sub">
                          
                          <ion-row style="display:flex; justify-content: center; align-items: center;">
                            <button style="color:#1C2833;" nzSize="large" nz-button nzType="default" nzShape="circle" (click)="ChangeCategoria(item.name,sub.nameSub, sub.icon,item.id,sub.id)">
                              <fa-icon [icon]="sub.icon" class="fa-xl"></fa-icon>
                            </button>
                          </ion-row>

                          <ion-row style="display:flex; justify-content: center; align-items: center;">
                            <ion-label style="font-size: 10px; text-align: center;">{{sub.nameSub}}</ion-label>
                          </ion-row>

                        </ion-col>
                      </ion-row>
            
                    </ion-list>
                  </ion-grid>
                  
                </ion-content>
              </ng-template>
            </ion-modal>
            <br>

            <!-- Recordatorios -->
            <ion-row>
              <ion-col size="1"  style="display:flex; justify-content: center; align-items: center;" >
                <fa-icon [icon]="iconRecordatorios" class="fa-2xl"></fa-icon>
              </ion-col >
              <ion-col size="4" >

              </ion-col>
              <ion-col size="7"  >
                 <mat-slide-toggle (click)="changeicon()" [(ngModel)]="validarRecordatorios">Recordatorios </mat-slide-toggle>

              </ion-col>
              
            </ion-row>
            <br>
          
          <!-- Frecuencia -->

          <ion-row>

            <ion-col size="1" style="display:flex; justify-content: center; align-items: center; margin-bottom: 20px;">
              <fa-icon [icon]="faClock" class="fa-2xl" ></fa-icon>
            </ion-col>

            <ion-col size="11">
              <mat-form-field style="width: 100%;">
                <mat-label>Frecuencia</mat-label>
                <mat-select [(ngModel)]="selectedOptionFrecuencia">
                  <mat-option *ngFor="let food of ArrayFrecuencia" [value]="food.value">
                    {{food.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </ion-col>

          </ion-row>
          <br>
          <!-- Comentarios -->
            <ion-card>
              <form class="example-form">
            
                <mat-form-field class="example-full-width" style="width: 100%;">
                  <mat-label  >Leave a comment</mat-label>
                  <textarea name="MatGastos" [(ngModel)]="descripcion" matInput placeholder="Ex. It makes me feel..."></textarea>
                </mat-form-field>
              </form>
            </ion-card>

          <!-- Productos -->



        </ion-list>
      
      </mat-tab>
  
    </mat-tab-group>
  
  

</ion-content>

<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button  color="white" (click)=AddTransaccion()>
    <img width="40px" height="40px" src="assets/icon/cheque.png" alt="Cargar imagen Guardar  ">
  </ion-fab-button>
</ion-fab>




