<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="GoHome()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list>

    <!-- Nombre Transaccion -->
    <ion-item>

      <fa-icon [icon]=faFileSignature class="fa-xl" slot="start" ></fa-icon>
      <ion-input label="Nombre" labelPlacement="floating" placeholder="Transaccion" [clearInput]="true"></ion-input>
    </ion-item>

    <!-- Monto Transaccion -->
    <ion-item >

      <fa-icon id="IconMontoTrans"  [icon]=IconTransaccion class="fa-xl" slot="start" ></fa-icon>
      <ion-input type="number" placeholder="total de gastos o ingresos" color="success" ></ion-input>
    </ion-item>

    <!-- Calendario -->
    <ion-item>
      
      <fa-icon [icon]=faCalendarDays class="fa-xl" slot="start" ></fa-icon>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>

      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="datetime"></ion-datetime>
        </ng-template>
      </ion-modal>

    </ion-item>


    <!-- Categorias -->
    <ion-item expand="block" (click)="setOpenCategoria(true)">
      
      
      <fa-icon  [icon]=IconCat class="fa-xl" slot="start"></fa-icon>
      
      <ion-list>
          <ion-label style="font-size: 12px;">{{NombreCat}}</ion-label>
          <ion-label>{{NombreSubCat}}</ion-label>
      </ion-list>
      
      
      

      <ion-modal [isOpen]="isModalOpenCategoria">
        <ng-template>
          <ion-header>
            <ion-toolbar>
        
              <ion-buttons slot="start">
                <ion-button (click)="setOpenCategoria(false)">Close</ion-button>
              </ion-buttons>

              <ion-searchbar animated="true" placeholder="Animated"></ion-searchbar>

              <ion-buttons slot="end">
                <ion-button (click)="setOpenCategoria(false)">Save</ion-button>
              </ion-buttons>

            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
  
            <!--
            <ion-list>

              <ion-item>
                <ion-label style="color: blue; font-size: 15px;">Transporte</ion-label>
              </ion-item>
              
              <ion-item>
                <ion-item>
                  <div class="circular-button">
                    <ion-button shape="round" color="danger" (click)="ChangeCategoria('Transporte','Combustible',faGasPump)">
                      <fa-icon  [icon]="faGasPump" class="fa-2xl"></fa-icon>
                      
                    </ion-button>
                    <ion-label style="font-size: 10px;">Combustible</ion-label>
                  </div>
                </ion-item>
                
                <ion-item>
                  <div class="circular-button">
                    <ion-button shape="round" color="danger" (click)="ChangeCategoria('Transporte','Mantenimiento',faCarOn)">
                      <fa-icon  [icon]="faCarOn" class="fa-2xl"></fa-icon>
                    </ion-button>
                    <ion-label style="font-size: 10px;">Mantenimiento</ion-label>
                  </div>
                </ion-item>
                
                
              </ion-item>

              <ion-item>
                <ion-label style="color: blue; font-size: 15px;">Hogar</ion-label>
              </ion-item>

              
      
              <ion-item>

                <ion-item>
                  <div class="circular-button">
                    <ion-button shape="round" color="danger" (click)="ChangeCategoria('Hogar','Colegio',faSchool)">
                      <fa-icon  [icon]="faSchool" class="fa-2xl"></fa-icon>
                    </ion-button>
                    <ion-label style="font-size: 10px;">Colegio</ion-label>
                  </div>
                </ion-item>

                
                  <ion-item>
               
                    <div class="circular-button">
                      <ion-button shape="round" color="danger" (click)="ChangeCategoria('Hogar','Medicamentos',faCapsules)">
                        <fa-icon  [icon]="faCapsules" class="fa-2xl"></fa-icon>
                      </ion-button>
                      <ion-label style="font-size: 10px;">Medicamentos</ion-label>
                    </div>
                  </ion-item>

                <ion-item>
              
                  <div class="circular-button">
                    <ion-button shape="round" color="danger" (click)="ChangeCategoria('Hogar','Ropa',faShirt)">
                      <fa-icon  [icon]="faShirt" class="fa-2xl"></fa-icon>
                    </ion-button>
                    <ion-label style="font-size: 10px;">Ropa</ion-label>
                  </div>
              
                </ion-item>
              
                
                <ion-item>
                  <div class="circular-button">
                    <ion-button shape="round" color="danger" (click)="ChangeCategoria('Hogar','Supermercado',faStore)">
                      <fa-icon  [icon]="faStore" class="fa-2xl"></fa-icon>
                    </ion-button>
                    <ion-label style="font-size: 10px;">Supermercado</ion-label>
                  </div>
                </ion-item>
                  
              </ion-item>

              

              <ion-item>
                <ion-label style="color: blue; font-size: 15px;">Entretenimiento</ion-label>
              </ion-item>

              <ion-item>
                <ion-item>
                  <div class="circular-button">
                    <ion-button shape="round" color="danger" (click)="ChangeCategoria('Entretenimiento','Cine',faFilm)">
                      <fa-icon  [icon]="faFilm" class="fa-2xl"></fa-icon>
                    </ion-button>
                    <ion-label style="font-size: 10px;">Cine</ion-label>
                    
                  </div>
                </ion-item>
                
                <ion-item>
                  <div class="circular-button">
                    <ion-button shape="round" color="danger" (click)="ChangeCategoria('Entretenimiento','Juegos',faGamepad)">
                      <fa-icon  [icon]="faGamepad" class="fa-2xl"></fa-icon>
                    </ion-button>
                    <ion-label style="font-size: 10px;">Juegos</ion-label>
                    
                  </div>
                </ion-item>
                
                <ion-item>
                  <div class="circular-button">
                    <ion-button shape="round" color="danger" (click)="ChangeCategoria('Entretenimiento','Restaurante',faUtensils)">
                      <fa-icon  [icon]="faUtensils" class="fa-2xl"></fa-icon>
                    </ion-button>
                    <ion-label style="font-size: 10px;"> Restaurante </ion-label>
                    
                  </div>
                </ion-item>
                
                <ion-item>
                  <div class="circular-button">
                    <ion-button shape="round" color="danger" (click)="ChangeCategoria('Entretenimiento','Compras',faCartShopping)">
                      <fa-icon  [icon]="faCartShopping" class="fa-2xl"></fa-icon>
                    </ion-button>
                    <ion-label style="font-size: 10px;">Compras</ion-label>
                  </div>
                </ion-item>
              
              
              </ion-item>
              
              <ion-item>

                <ion-item>
                  <div class="circular-button">
                    <ion-button shape="round" color="danger" (click)="ChangeCategoria('Entretenimiento','Deporte',faBicycle)">
                      <fa-icon  [icon]="faBicycle " class="fa-2xl"></fa-icon>
                    </ion-button>
                    <ion-label style="font-size: 10px;">Deporte</ion-label>
                    
                  </div>
                </ion-item>
                

                <ion-item>
                  <div class="circular-button">
                    <ion-button shape="round" color="danger"(click)="ChangeCategoria('Entretenimiento','Vacaciones',faPlaneDeparture)">
                      <fa-icon  [icon]="faPlaneDeparture" class="fa-2xl"></fa-icon>
                    </ion-button>
                    <ion-label style="font-size: 10px;">Vacaciones</ion-label>
                    
                  </div>
                </ion-item>
                

                <ion-item>
                  <div class="circular-button">
                    <ion-button shape="round" color="danger" (click)="ChangeCategoria('Entretenimiento','Libros', faBookOpen)">
                      <fa-icon  [icon]="faBookOpen" class="fa-2xl"></fa-icon>
                    </ion-button>
                    <ion-label style="font-size: 10px;">Libros </ion-label>
                    
                  </div>
                </ion-item>
                
              </ion-item>


            </ion-list>
            -->

<!-- Categorias -->
            <ion-grid *ngIf="TipoTrans == 'Gastos'">
              <ion-list *ngFor="let item of ArrayCategoriasGastos">

                <ion-item>
                  <ion-label>{{item.name}}</ion-label>
                </ion-item>

                <ion-row>
                  <ion-col size="2" *ngFor="let sub of item.sub">

                    <ion-item>
                      <div class="circular-button">
                        <ion-button shape="round" color="danger" (click)="ChangeCategoria(item.name,sub.nameSub, sub.icon)">
                          <fa-icon [icon]="sub.icon" class="fa-2xl"></fa-icon>
                        </ion-button>
                        <ion-label style="font-size: 10px;">{{sub.nameSub}}</ion-label>
                      </div>
                    </ion-item>
                      
                  </ion-col>
                </ion-row>
      
              </ion-list>
            </ion-grid>

            <ion-grid *ngIf="TipoTrans == 'Ingresos'">
              <ion-list *ngFor="let item of ArrayCategoriasIngresos">

                <ion-item>
                  <ion-label>{{item.name}}</ion-label>
                </ion-item>

                <ion-row>
                  <ion-col size="2" *ngFor="let sub of item.sub">

                    <ion-item>
                      <div class="circular-button">
                        <ion-button shape="round" color="success" (click)="ChangeCategoria(item.name,sub.nameSub, sub.icon)">
                          <fa-icon [icon]="sub.icon" class="fa-2xl"></fa-icon>
                        </ion-button>
                        <ion-label style="font-size: 10px;">{{sub.nameSub}}</ion-label>
                      </div>
                    </ion-item>
                      
                  </ion-col>
                </ion-row>
      
              </ion-list>
            </ion-grid>
            
          </ion-content>
        </ng-template>
      </ion-modal>

    </ion-item>

    <!-- Tipo Transaccion -->
    <ion-item expand="block" (click)="setOpenTipoTransaccion(true)">
      <fa-icon  [icon]="faBuildingColumns" class="fa-xl" slot="start"></fa-icon>
      <ion-list>
        <ion-label style="font-size: 12px;">Efectivo</ion-label>
        <ion-label>Billetera</ion-label>
      </ion-list>

      <ion-modal [isOpen]="isModalOpenTipoTrans">
        <ng-template>
          <ion-header>
            <ion-toolbar>
        
              <ion-buttons slot="start">
                <ion-button (click)="setOpenTipoTransaccion(false)">Close</ion-button>
              </ion-buttons>

              <ion-searchbar animated="true" placeholder="Animated"></ion-searchbar>

              <ion-buttons slot="end">
                <ion-button (click)="setOpenTipoTransaccion(false)">Save</ion-button>
              </ion-buttons>

            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
  
          

            
            
          </ion-content>
        </ng-template>
      </ion-modal>

    </ion-item>



    <!-- Frecuencia -->
    <ion-item expand="block" (click)="setOpenFrecuencia(true) ">
      <fa-icon  [icon]="faClock" class="fa-xl" slot="start"></fa-icon>
      <ion-label> Frecuencia</ion-label>


      <ion-modal [isOpen]="isModalOpenFrecuencia">
        <ng-template>
          <ion-header>
            <ion-toolbar>
        
              <ion-buttons slot="start">
                <ion-button (click)="setOpenFrecuencia(false)">Close</ion-button>
              </ion-buttons>

              <ion-searchbar animated="true" placeholder="Animated"></ion-searchbar>

              <ion-buttons slot="end">
                <ion-button (click)="setOpenFrecuencia(false)">Save</ion-button>
              </ion-buttons>

            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
            <ion-item>
            <ion-item><ion-checkbox id="1" (click) = "ChangeCheckBox(1)" >Diario</ion-checkbox></ion-item>
            <ion-item><ion-checkbox id="2" (click) = "ChangeCheckBox(2)">Semanal</ion-checkbox></ion-item>
            <ion-item><ion-checkbox id="3" (click) = "ChangeCheckBox(3)">Mensual</ion-checkbox></ion-item>
            <ion-item><ion-checkbox id="4" (click) = "ChangeCheckBox(4)">Anual</ion-checkbox></ion-item>
          </ion-item> 
          <ion-item>
            <ion-item>

              <ion-datetime size="cover">
  
              </ion-datetime>
            </ion-item>
            <ion-item>
              <ion-datetime size="cover">
                
              </ion-datetime>
              
            </ion-item>

          </ion-item>
          
          

        
  
          

            
            
          </ion-content>
        </ng-template>
      </ion-modal>




    </ion-item>




  </ion-list>

  

</ion-content>

<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button color="success" >
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-footer>
  
  <ion-toolbar>
    <ion-item>

      <ion-item>
        <ion-buttons>
          <ion-button color={{colorGastos}} (click)="ChangeOptionTransaccion(1)">GASTOS </ion-button>
        </ion-buttons>
      </ion-item>

      <ion-item>
        <ion-buttons>
          <ion-button color={{colorIngresos}} (click)="ChangeOptionTransaccion(2)">INGRESOS</ion-button>
        </ion-buttons>
      </ion-item>
        
      <ion-item>
        <ion-buttons>
          <ion-button>TRANSFERENCIAS</ion-button>
        </ion-buttons>
      </ion-item>
      
    </ion-item>
    
  </ion-toolbar>
</ion-footer>
