#circle {
    background: lightblue;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.circular-button {
    display: inline-block;
    text-align: center;
  }
  
  ion-button.shape-round {
    width: 48px; /* Ajusta el tamaño del botón circular */
    height: 48px;
    padding: 0; /* Elimina el espacio interno del botón */
  
    /* Ajusta otros estilos según tus preferencias */
  }
  
  ion-icon {
    font-size: 24px; /* Ajusta el tamaño del icono */
    color: white; /* Cambia el color del icono según tu diseño */
  }
  
  ion-datetime {
    font-size: 10px; /* Ajusta el tamaño según tu preferencia */
    --padding-start: 4px; /* Ajusta el espacio interno en el lado izquierdo */
    --padding-end: 4px; /* Ajusta el espacio interno en el lado derecho */
    --padding-top: 2px; /* Ajusta el espacio interno en la parte superior */
    --padding-bottom: 2px; /* Ajusta el espacio interno en la parte inferior */
  }

  #datetime .datetime-text {
    display: none;
  }
  