<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="GoHome()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>agregar-transaccion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item>
      <ion-icon slot="start" name="clipboard-outline"></ion-icon>
      <ion-input label="Nombre" labelPlacement="floating" placeholder="Transaccion" [clearInput]="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="{{IconTransaccion}}"></ion-icon>      
      <ion-input type="number" placeholder="000" ></ion-input>

    </ion-item>

    <ion-item>
      
    </ion-item>



  </ion-list>








</ion-content>
