.photos-container {
    
  margin: 0 auto;

}
  
.photo {

  display: block; /* Muestra la imagen como bloque para centrarla horizontalmente */
  margin: 0 auto; /* Centra la imagen horizontalmente */
  max-width: 150px; /* Ajusta el ancho máximo de cada foto según tus necesidades */
  height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
  max-height: 100px;

}

nz-ribbon {

  margin-bottom: 10px;

}




 
  
  
  
  
  
  
  