<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>documentos</ion-title>

    <ion-buttons slot="start">
      <ion-button (click)="GoHome()"><ion-icon style="color: white;" name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-grid>
    <ion-list *ngFor="let doc of crudP.ventaProductos">

      <ion-card style="border-radius: 20px;" class="centered-container">
        <ion-row>
          <h3 style="text-align: center;">{{doc.fecha}}</h3>
        </ion-row>
        
      </ion-card>
      
      
      <ion-card #button (click)="setOpenTicket(true)"  (click)="getNumeroDeProductos(doc.ticket-1)">
        <ion-row>

          <ion-col size="7">
            <p>N ticket: {{doc.ticket}}</p>
          </ion-col>

          <ion-col size="5">
            <p> Total: {{doc.totalVenta | currency:'USD':'symbol':'1.2-2'}}</p>
          </ion-col>

        </ion-row>

      </ion-card>

      <ion-modal [isOpen]="isModalTicket">
        <ng-template>
          <ion-content>

            <ion-grid style="width: 100%;">


              <ion-row>

                <button (click)="setOpenTicket(false)" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                  <mat-icon>close</mat-icon>
                </button>
                
              </ion-row>

              
              <ion-row>

                <ion-col size="8">
                  <p><b>{{doc.usuario.nombreNegocio}}</b></p>
                </ion-col>
  
                <ion-col size="4">
                  <p><b>TICKET #00{{doc.ticket}}</b></p>
                </ion-col>

              </ion-row>

              <ion-row>
                <ion-col size="12">
                  <ion-label>
                    <p>Atendio: {{doc.usuario.nombreUsuario}}</p>
                  </ion-label>
                </ion-col>
              </ion-row>
             
              <ion-row>
                <ion-col size="12">
                  <p><b>{{cantidadProductos}} items (Cantidad: {{doc.totalCantidad}})</b></p>
                </ion-col>
                
              </ion-row>

              <p style="border: 2px solid black; width: 100%;"></p>

              <ion-list *ngFor="let productoId of doc.productosAgrupados | keys">

                <ion-item>
                  <ion-row slot="start">
                    
                    <ion-label style="margin-right: 5px; margin-top: 15px;"><b >X{{ doc.productosAgrupados[productoId].cantidad }}</b></ion-label>
                    <ion-list style="margin-left: 5px;">
                      <ion-label>{{ doc.productosAgrupados[productoId].nombre }}</ion-label>
                      <ion-label style="color: gray; font-size: 10px;">{{ doc.productosAgrupados[productoId].valorUnitario | currency:'USD':'symbol':'1.2-2' }}</ion-label>
                    </ion-list>
                  </ion-row>
                  
                  <ion-label slot="end"> {{ doc.productosAgrupados[productoId].total | currency:'USD':'symbol':'1.2-2' }}</ion-label>
                </ion-item>

              </ion-list>

              <ion-item>
                <ion-label style="font-size: 15px;" slot="end"><b>Total Neto:  {{  (doc.totalVenta - (doc.totalVenta * 0.19)).toFixed(0) | currency:'USD':'symbol':'1.2-2'}}</b></ion-label>
              </ion-item>
    
              <ion-item>
                <ion-label style="font-size: 15px;" slot="end"><b>IVA: {{(doc.totalVenta * 0.19).toFixed(0) | currency:'USD':'symbol':'1.2-2'}}</b></ion-label>
              </ion-item>
              
              <ion-item>
                <ion-label style="font-size: 15px;" slot="end"><b>Total : {{doc.totalVenta | currency:'USD':'symbol':'1.2-2'}}</b></ion-label>
              </ion-item>

              <p style="border: 2px solid black; width: 100%;"></p>
  
              <p style="text-align: center;"><b>Gracias por su compra</b></p>
              <p style="text-align: center;">{{doc.fecha}}</p>

              
            </ion-grid>


          </ion-content>

          <ion-footer>

            <ion-row style="justify-content: center; align-items: center;">
              <ion-col size="6" style="display:flex; justify-content: center; align-items: center; border: 1px solid black;">
                
                <ion-item class="boton-enviar">
                  <ion-list>
                    <mat-icon>send</mat-icon>
                    <ion-label>Email</ion-label>
                  </ion-list>
                  
                </ion-item>
                
              </ion-col>
    
              <ion-col size="6" style="display:flex; justify-content: center; align-items: center; border: 1px solid black;">
                <ion-item class="boton-compartir">
                  <ion-list>
                    <mat-icon>share</mat-icon>
                    <ion-label>Compartir</ion-label>
                  </ion-list>
                  
                </ion-item>
              </ion-col>
            </ion-row>
    
          </ion-footer>
          
        </ng-template>
      </ion-modal>


    </ion-list>
  </ion-grid>

</ion-content>
