<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>documentos</ion-title>

    <ion-buttons slot="start">
      <ion-button (click)="GoHome()"><ion-icon style="color: white;" name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-grid>
    <ion-list *ngFor="let doc of crudP.ventaProductos">

      <h2>{{doc.fecha}}</h2>
      
      <ion-card>
        

      </ion-card>
      


    </ion-list>
  </ion-grid>

</ion-content>
