<ion-menu contentId="main-content">
  
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>



      
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">This is the menu content.</ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title></ion-title>
        
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    
    <mat-tab-group>
      <mat-tab label="PRINCIPAL">  

        <ion-card>
          <canvas baseChart style="margin: 0 auto;"
            [labels]="doughnutChartLabels"
            [datasets]="doughnutChartDatasets"
            [options]="doughnutChartOptions"
            [legend]="true"
            [type]="'doughnut'">
          </canvas>
        </ion-card>

        <ion-card>
          <canvas baseChart style="margin: 0 auto;"
            [data]="barChartData"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [type]="'bar'">
          </canvas>
        </ion-card>

      </mat-tab>

      <mat-tab label="TRANSACCIONES">  

        <div *ngFor="let fecha of crud.getFechasAgrupadas()">
          
          <ion-item style="border-radius: 15px; font-size: 10px; height: 25px; display: flex; flex-direction: column; align-items: flex-start;">
            <ion-label slot="start" style="margin-top: 4px;">{{ fecha }}</ion-label>
           <!-- <ion-label slot="end" style="margin-top: 4px;">MONTO ${{ crud.calcularMontoTotal(crud.transaccionesAgrupadas[fecha], 'Ingresos') | currency:'USD':'symbol':'1.2-2' }}
              / ${{ crud.calcularMontoTotal(crud.transaccionesAgrupadas[fecha], 'Gastos') | currency:'USD':'symbol':'1.2-2' }}</ion-label> -->
              <ion-label slot="end" style="margin-top: 4px;">MONTO: {{crud.totalNetoPorFecha[fecha] | currency:'USD':'symbol':'1.2-2'}}</ion-label>
          </ion-item>

          <div *ngFor="let transaccion of crud.transaccionesAgrupadas[fecha]">
            <div *ngFor="let categoria of transaccion.categoria">
              <div *ngFor="let subCategoria of categoria.subCategoria">
                <p></p>
                <ion-card #button [routerLink]="['/',transaccion.tipo_transaccion]" (click)="GetTransaccion(transaccion.id)">
                  <ion-item >
                    <fa-icon [icon]="subCategoria.icon" class="fa-xl" slot="start" ></fa-icon>
                    <ion-list>
                      <ion-label style="font-size: 12px;">{{categoria.nombre}}</ion-label>
                      <ion-label style="font-size: 10px;">{{subCategoria.nombre}}</ion-label>
                    </ion-list>
      
                    <ion-list slot="end">
                      <div *ngIf="transaccion.tipo_transaccion == 'Egresos'">
                        <ion-label style="font-size: 12px;" color="danger" >$-{{transaccion.monto}}</ion-label>
                      </div>
                      <div *ngIf="transaccion.tipo_transaccion == 'Ingresos'">
                        <ion-label style="font-size: 12px;" color="success" >${{transaccion.monto}}</ion-label>
                      </div>
                      
                      <ion-label style="font-size: 10px;">Billetera | -5666666</ion-label>
                    </ion-list>
      
                  </ion-item>
                </ion-card>

              </div>
            </div>
 
          </div>
        </div>
        
      </mat-tab>

      <mat-tab label="INVENTARIO"> 

        <ion-card>
          <ion-grid>
            <ion-row>

              <ion-col size="6" *ngFor="let producto of crudP.productos">
                <div *ngFor="let categoria of producto.categoria">
                  <ion-card style="border-radius: 15px;" #button [routerLink]="['/agregar-producto']" (click)="GetProducto(producto.id)">
                    <div style="display: flex; flex-direction: column; align-items: center; text-align: center; ">

                      <ion-img [src]="producto.imagen" style="width: 180px; height: 180px;"></ion-img>

                    </div>
                    
                    <ion-card-header>
                      
                      <ion-row>
                        <ion-col size="9">
                          <ion-row>
                            <ion-card-title  style="font-size: 15px;" >{{producto.nombre}}</ion-card-title>
                          </ion-row>
                          
                          <ion-row>
                            <ion-card-subtitle style="font-size: 12px;">Stock: {{producto.stock}}</ion-card-subtitle>
                          </ion-row>
                          
                        </ion-col>

                        <ion-col size="3" style="display: flex; justify-content: center; align-items: center;">
                          <button  nz-button nzType="primary" nzSize="small" nzShape="circle"><fa-icon slot="start" [icon]=categoria.icon class="fa-l"  ></fa-icon></button>
                        </ion-col>

                      </ion-row>
                      
                    </ion-card-header>
                  
                    <ion-card-content>

                      <ion-row>
                        <ion-label style="font-size: 10px;">Precio: {{producto.precio}}</ion-label>
                      </ion-row>

                      <ion-row>
                        <ion-label style="font-size: 10px;">{{categoria.nombre}}</ion-label> 
                      </ion-row>

                      <ion-row>
                        <ion-label style="font-size: 10px;" >Estado:{{producto.estado}}</ion-label>
                      </ion-row>

                    </ion-card-content>
                  </ion-card>
                </div>
               
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
        
      </mat-tab>
    </mat-tab-group>
    

    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button color="danger" id="open-modal">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>


    <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="cancel()">Cancel</ion-button>
            </ion-buttons>
            <ion-title style="text-align: center;">Transacciones</ion-title>
            
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          
          <ion-card color="success" #button [routerLink]="['/','Ingresos']" (click)="confirm()">
            <ion-card-header>
              <ion-card-title>Ingresos</ion-card-title>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content> Card Content </ion-card-content>
          </ion-card>
          <p></p>
          <ion-card color="danger" #button [routerLink]="['/','Egresos']" (click)="confirm()">
            <ion-card-header>
              <ion-card-title>Egresos</ion-card-title>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content> Card Content </ion-card-content>
          </ion-card>
          <p></p>
          <ion-card color="secondary" [routerLink]="['/agregar-producto']" (click)="confirm()">
            <ion-card-header>
              <ion-card-title>Insumos</ion-card-title>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content> Card Content </ion-card-content>
          </ion-card>
          <p></p>
          <ion-card color="warning" [routerLink]="['/venta-producto']" (click)="confirm()">

            <ion-row>

              <ion-col size="8">

                <ion-card-title>Ventas</ion-card-title>

                <ion-card-header>
                  <ion-card-subtitle>Card Subtitle</ion-card-subtitle>



                </ion-card-header>
            
              <ion-card-content> Card Content </ion-card-content>

              </ion-col>

              <ion-col size="4">
                
              </ion-col>

            </ion-row>
            
          </ion-card>

        </ion-content>
      </ng-template>
    </ion-modal>
    
  </ion-content>
</div>