
<!-- ############## MENU ################-->

<ion-menu contentId="main-content">
  
  <ion-header>
    <ion-toolbar>
      <ion-item color="tertiary">
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label style="color: white;" > {{ nombreUsuario}}</ion-label>

        <ion-button [routerLink]="['/cuenta-usuario']"   slot="end" fill="outline"><ion-label style="color: white;" >Editar </ion-label></ion-button>
      </ion-item>
      
    </ion-toolbar>
  </ion-header>
  <ion-content id="containerPrincipal" class="ion-padding">

    <ion-list>

      <ion-item #button [routerLink]="['/venta-producto']">
        <fa-icon style="color: #295E91 ;" [icon]="faBoxes" class="fa-xl" slot="start" ></fa-icon>
        <ion-label>
          Inventario
        </ion-label>
      </ion-item>
      <br>
      
  
      <ion-item #button [routerLink]="['/historial-transacciones']">
        <fa-icon style="color: #295E91;" [icon]="faArrowRightArrowLeft" class="fa-xl" slot="start" ></fa-icon>
        <ion-label>
          Transacciones
        </ion-label>
        
      </ion-item>
      <br>
  
      <ion-item>
        <fa-icon style="color: #295E91 ;" [icon]="faFileCircleCheck" class="fa-xl" slot="start" ></fa-icon>
        <ion-label>
          Documentos
        </ion-label>
        
      </ion-item>
      <br>
  
      <ion-item>
        <fa-icon style="color: #295E91 ;" [icon]="faChartColumn" class="fa-xl" slot="start" ></fa-icon>
        <ion-label>
          Reportes
        </ion-label>
      
      </ion-item>
      <br>
  
      <ion-item  #button [routerLink]="['/menuopciones']">
        <fa-icon style="color: #295E91 ;" [icon]="faGear" class="fa-xl" slot="start" ></fa-icon>
        <ion-label>
          Opciones
        </ion-label>
        
      </ion-item>
      <br>

      
    </ion-list>

    
  </ion-content>
</ion-menu>

<!-- ######### Pagina principal ######### -->

<div class="ion-page" id="main-content" >
  <ion-header>
    <ion-toolbar color="primary">

      <ion-buttons slot="start">
        <ion-menu-button style="color: white;"></ion-menu-button>
      </ion-buttons>

      <div *ngIf="matTab == 'inventario'">
        <ion-item color="primary"  slot="end">
          
            <ion-buttons slot="end" [routerLink]="['/venta-producto']">
              
              <button mat-raised-button>Agregar venta<fa-icon [icon]="faCashRegister" class="fa-xl"></fa-icon></button>
            </ion-buttons>
          
        </ion-item>
      </div>

      <ion-title></ion-title>
        
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding" id="Containerlogin">

    <ion-card style="margin: 0 auto; text-align: center; align-items: center; ">
      <p></p>

      <ion-row>
        <button color="warn" (click)="goToSlide('principal')" style="margin: 0 auto;  border-radius: 20px;" mat-stroked-button><ion-label>Principal</ion-label></button>
        <button color="warn" (click)="goToSlide('transacciones')" style="margin: 0 auto;  border-radius: 20px;" mat-stroked-button><ion-label>Transacciones</ion-label></button>
        <button color="warn" (click)="goToSlide('inventario')" style="margin: 0 auto;  border-radius: 20px;" mat-stroked-button><ion-label>Inventario</ion-label></button>
      </ion-row> 

      <p></p>
    </ion-card>
    
  <ion-toast
    [isOpen]="crud.isToastOpen"
    [message]="crud.message"
    [duration]="1000"
    (didDismiss)="crud.setOpenToast(false)"
  ></ion-toast>

  <ion-toast
    [isOpen]="crudP.isToastOpen"
    [message]="crudP.message"
    [duration]="1000"
    (didDismiss)="crudP.setOpenToast(false)"
  ></ion-toast>
 
    <swiper-container  #swiper (slidechange)="onSlideChange($event)" >

      <swiper-slide id="principal">
        <ion-card  style="border-radius: 20px;">
          <br>
          <ion-row>
             
            <canvas baseChart 
              [type]="'pie'"
              [datasets]="pieChartDatasets"
              [labels]="pieChartLabels"
              [options]="pieChartOptions"
              [plugins]="pieChartPlugins"
              [legend]="pieChartLegend">
            </canvas>
  
          </ion-row>
          <br>

          <ion-row>

            <canvas baseChart
            [data]="barChartData"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [type]="'bar'">
            </canvas>

          </ion-row>
          <br>
          <ion-row>
            
          </ion-row>
          
        </ion-card>
        
      </swiper-slide>

      <swiper-slide id="transacciones">

        <ion-card  style="border-radius: 20px;" >
          <div *ngFor="let fecha of crud.getFechasAgrupadas()">
          
            <ion-item style="border-radius: 15px; font-size: 10px; height: 25px; display: flex; flex-direction: column; align-items: flex-start;">
              <ion-label slot="start" style="margin-top: 4px; color: green;">{{ fecha }}</ion-label>
             <!-- <ion-label slot="end" style="margin-top: 4px;">MONTO ${{ crud.calcularMontoTotal(crud.transaccionesAgrupadas[fecha], 'Ingresos') | currency:'USD':'symbol':'1.2-2' }}
                / ${{ crud.calcularMontoTotal(crud.transaccionesAgrupadas[fecha], 'Gastos') | currency:'USD':'symbol':'1.2-2' }}</ion-label> -->
                <ion-label slot="end" style="margin-top: 4px; color: green;">MONTO: {{crud.totalNetoPorFecha[fecha] | currency:'USD':'symbol':'1.2-2'}}</ion-label>
            </ion-item>
  
            <div *ngFor="let transaccion of crud.transaccionesAgrupadas[fecha]">
              <div *ngFor="let categoria of transaccion.categoria">
                <div *ngFor="let subCategoria of categoria.subCategoria">
                  <p></p>
                  <ion-card #button [routerLink]="['/',transaccion.tipo_transaccion]" (click)="GetTransaccion(transaccion.id)">
                    <ion-item >
                      <fa-icon [icon]="subCategoria.icon" class="fa-xl" slot="start" ></fa-icon>
                      <ion-list>
                        <ion-label style="font-size: 12px;">{{categoria.nombre}}</ion-label> 
                        <ion-label style="font-size: 10px;">{{subCategoria.nombre}}</ion-label>
                      </ion-list>
        
                      <ion-list slot="end">
                        <div *ngIf="transaccion.tipo_transaccion == 'Egresos'">
                          <ion-label style="font-size: 12px;" color="danger" >-{{transaccion.monto | currency:'USD':'symbol':'1.2-2'}}</ion-label>
                        </div>
                        <div *ngIf="transaccion.tipo_transaccion == 'Ingresos'">
                          <ion-label style="font-size: 12px;" color="success" >{{transaccion.monto | currency:'USD':'symbol':'1.2-2'}}</ion-label>
                        </div>
                        
                        <ion-label style="font-size: 10px;">Billetera | -5666666</ion-label>
                      </ion-list>
        
                    </ion-item>
                  </ion-card>
  
                </div>
              </div>
   
            </div>
          </div>
          
        </ion-card>

      </swiper-slide>

      <swiper-slide id="inventario">

        <ion-card  style="border-radius: 20px;">
          <ion-grid>
            <ion-row>

              <ion-col size="6" *ngFor="let producto of crudP.productos">
                <div *ngFor="let categoria of producto.categoria">

                  <ion-card color="primary" style="height: 150px; width: 90%; margin: 0 auto; position: relative;" #button [routerLink]="['/agregar-producto']" (click)="GetProducto(producto.id)">

                    <ion-row>
                      <ion-label style="font-size: 8px; margin-left: 3px; color: white;">SKU: {{producto.id}}</ion-label>
                    </ion-row>
                    
                    <ion-card-content>
                      <div lass="photos-container">
                        <img [src]="producto.imagen" class="photo">
                      </div>
                    </ion-card-content>
                    <ion-row>
                      <ion-label  style=" margin-left: 3px;font-size: 8px; color: white; position: absolute; bottom: 5px;">Precio: {{producto.precio}}</ion-label>
                    </ion-row>
                    <ion-row>
                      <ion-label style="margin-left: 3px; font-size: 8px; color: white; position: absolute; bottom: 20px;">Stock: {{producto.stock}}</ion-label>
                    </ion-row>
                    <ion-row>
                      <ion-label style="color: white; position: absolute; top: 5px; right: 5px;"><fa-icon [icon]=categoria.icon class="fa-xl" ></fa-icon></ion-label>
                    </ion-row>
                    
                  </ion-card>
                  
                </div>
               
              </ion-col>
            </ion-row>
          </ion-grid>
          
          
        </ion-card>
        
      </swiper-slide>
      
    </swiper-container>


    <ion-fab style="size: 80px;" slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button color="danger" id="open-modal">
        <ion-icon style="color: white;" name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
      <ng-template >
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="cancel()"><ion-icon name="close-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-title style="text-align: center; margin: 0 auto; "></ion-title>
            
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          
          <ion-card  style="border-radius: 15px; border: 2px solid #141E30;" #button [routerLink]="['/','Ingresos']" (click)="confirm()"  mat-stroked-button>

            <ion-row>
              <ion-col size="8" >
                <ion-card-header >
                  <ion-card-title style="color: #141E30">Ingresos</ion-card-title>
                  <p></p>
                  <p style="color:#141E30">Registra transacciones de Ingresos</p>
                </ion-card-header>
                
              </ion-col>
              <ion-col size="4" >
                

                
              <div class="centered-container" ><img  width="100px" height="100x" src="assets/icon/lucro.png" alt="imagen ingreso no disponible"> </div>

              </ion-col>
              
  
            </ion-row>
 
          </ion-card>

          <p></p>

          <ion-card style="border-radius: 15px; border: 2px solid #F64A4A;" [routerLink]="['/','Egresos']" (click)="confirm()">

            <ion-row>
              <ion-col size="8" >
                <ion-card-header >
                  <ion-card-title style="color: #F64A4A">Egresos</ion-card-title>
                  <p></p>
                  <p style="color:#F64A4A">Registra transacciones de Egresos</p>
                </ion-card-header>
              </ion-col>
              <ion-col size="4" >
                

                
              <div class="centered-container" ><img  width="90px" height="90x" src="assets/icon/gastos.png" alt="imagen egreso no disponible"> </div>

              </ion-col>
                
              
  
            </ion-row>
            
          </ion-card>

          <p></p>

          <ion-card style="border-radius: 15px; border: 2px solid #141E30;" [routerLink]="['/agregar-producto']" (click)="confirm()">

            <ion-row>
              <ion-col size="8" >
                <ion-card-header >
                  <ion-card-title style="color: #141E30">Insumos</ion-card-title>
                  <p></p>
                  <p style="color:#141E30">Registra tus Productos</p>
                </ion-card-header>
                
              </ion-col>
              <ion-col size="4" >
                

                
                <div class="centered-container" ><img  width="90px" height="90x" src="assets/icon/organico.png" alt="imagen insumos no disponible"> </div>
  
                </ion-col>
  
            </ion-row>

          </ion-card>

          <p></p>

          <ion-card style="border-radius: 15px; border: 2px solid #F64A4A;" [routerLink]="['/venta-producto']" (click)="confirm()">

            <ion-row>
              <ion-col size="8" >
                <ion-card-header >
                  <ion-card-title style="color: #F64A4A">Ventas</ion-card-title>
                  <p></p>
                  <p style="color:#F64A4A">Registra tus Ventas</p>
                </ion-card-header>
                
              </ion-col>
              <ion-col size="4" >
                

                
                <div class="centered-container" ><img  width="90px" height="90x" src="assets/icon/ventas.png" alt="imagen ventas no disponible"> </div>
  
                </ion-col>
  
            </ion-row>
            
          </ion-card>

        </ion-content>
      </ng-template>
    </ion-modal>

  </ion-content>

  

</div>