<ion-header [translucent]="true">
  <ion-toolbar color="tertiary"  >
    <ion-label style="font-size: 18px; ">
      <b style="color:white"> Agregar Venta</b>
      
    </ion-label>
    <ion-buttons slot="start">
      <ion-button (click)="GoHome()"><ion-icon style="color: white;" name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="scan()"><fa-icon slot="start" [icon]=faBarcode class="fa-xl"></fa-icon></ion-button>
      
    
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-grid>
      <ion-row>

        <ion-col size="6" *ngFor="let producto of crudP.productos">
          <div *ngFor="let categoria of producto.categoria">
            <ion-card (click)="AgregarAlCarro(producto)">
              <div *ngIf="productosAgrupados[producto.id]">
                <nz-badge [nzCount]="productosAgrupados[producto.id].cantidad"></nz-badge>
              </div>
              
              <div style="display: flex; flex-direction: column; align-items: center; text-align: center; ">

                <ion-img [src]="producto.imagen" style="width: 180px; height: 180px;"></ion-img>

              </div>
              
              <ion-card-header>
                
                <ion-row>
                  <ion-col size="9">
                    <ion-row>
                      <ion-card-title  style="font-size: 15px;" >{{producto.nombre}}</ion-card-title>
                    </ion-row>
                    
                    <ion-row>
                      <ion-card-subtitle style="font-size: 12px;">Stock: {{producto.stock}}</ion-card-subtitle>
                    </ion-row>
                    
                  </ion-col>

                  <ion-col size="3" style="display: flex; justify-content: center; align-items: center;">
                    
                  </ion-col>

                </ion-row>
                
              </ion-card-header>
            
              <ion-card-content>

                <ion-row>
                  <ion-label style="font-size: 10px;">Precio: {{producto.precio | currency:'USD':'symbol':'1.2-2'}}</ion-label>
                </ion-row>

                <ion-row>
                  <ion-label style="font-size: 10px;">{{categoria.nombre}}</ion-label> 
                </ion-row>

                <ion-row>
                  <ion-label style="font-size: 10px;" >Estado:{{producto.estado}}</ion-label>
                </ion-row>

              </ion-card-content>
            </ion-card>
          </div>
         
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  
</ion-content>

<ion-footer>
  <ion-button style="background-color: #295E91;" expand="block" fill="outline" color="tertiary " (click)="setOpenCategoria(true)">
    
    <ion-label style="margin-right: 20px; color: white;  "  >Insumos:{{CantidadTotal}}</ion-label>
     
    <ion-label style="margin-left: 20px; color:white"  >Total: {{totalVenta | currency:'USD':'symbol':'1.2-2'}} </ion-label>
     
  </ion-button>

  <ion-modal [isOpen]="isModalOpenCategoria">
    <ng-template>
      <ion-header>
        <ion-toolbar>
    
          <ion-buttons slot="start">
            <ion-button (click)="setOpenCategoria(false)">Close</ion-button>
          </ion-buttons>

          <ion-buttons slot="end">
            <ion-button (click)="setOpenCategoria(false)">Save</ion-button>
          </ion-buttons>

        </ion-toolbar>
      </ion-header>
      <ion-content >

        <ion-grid *ngFor="let productoId of productosAgrupados | keys" >
          <ion-row style="border: 0.5px solid grey;" >

            <ion-col size="1" style="display:flex; justify-content: center; align-items: center;">
              <b style="font-size: 20px;">X{{ productosAgrupados[productoId].cantidad }}</b>
            </ion-col>

            <ion-col size="4">

              <ion-row >
                <p>{{ productosAgrupados[productoId].nombre }}</p>
              </ion-row>

              <ion-row >
                <p style="color: grey;">{{ productosAgrupados[productoId].valorUnitario | currency:'USD':'symbol':'1.2-2' }}</p>
              </ion-row>

            </ion-col>

            <ion-col size="4" style="display:flex; justify-content: center; align-items: center;">
              <b style="font-size: 20px;">{{ productosAgrupados[productoId].total | currency:'USD':'symbol':'1.2-2' }}</b>
            </ion-col>
            
            <ion-col size="3" style="display:flex; justify-content: center; align-items: center;">

              <button style="margin-right: 5px;" (click)="ModificarCantidad('aumentar',productosAgrupados[productoId])" color="disabled"  mat-mini-fab aria-label="Example icon button with a menu icon">
                <ion-icon name="add-circle-outline"></ion-icon>
              </button>

              <button style="margin-left: 5px;" (click)="ModificarCantidad('disminuir',productosAgrupados[productoId])" color="disabled" mat-mini-fab aria-label="Example icon button with a menu icon">
                <ion-icon name="remove-circle-outline"></ion-icon>
              </button>

            </ion-col>

          </ion-row>
        </ion-grid>

      </ion-content>

      <ion-footer>

        <ion-row>

          <ion-col size="4">
            <ion-button style="background-color: #295E91; " expand="block" fill="outline" color="tertiary"> <ion-label style="color: white;"> Opciones </ion-label> </ion-button>
          </ion-col>

          <ion-col size="8">
            <ion-button  style="background-color: #295E91;" expand="block" fill="outline" color="tertiary" (click)="showModal()">
    
              <ion-label style="margin-right: 20px; color: white;" >Insumos:{{CantidadTotal}}</ion-label>
               
              <ion-label style="margin-left: 20px; color: white; " >Total: {{totalVenta | currency:'USD':'symbol':'1.2-2'}} </ion-label>
               
            </ion-button>
          </ion-col>
        </ion-row>

        <nz-modal [nzOkLoading]="isOkButtonEnabled" [(nzVisible)]="isVisible" nzTitle="Pago" nzCancelText="Salir" nzOkText="Ok" (nzOnCancel)="handleCancel()" (nzOnOk)="realizarVenta()" >
          <ng-container *nzModalContent>
            
            <ion-grid>
              <ion-row style="height: 100px; display:flex; justify-content: center; align-items: center;">

                <h1 style="font-size: 40px;">{{totalVenta | currency:'USD':'symbol':'1.2-2'}} </h1>

              </ion-row>

              <ion-row>
                <ion-col  size="4" [class.selected]="isSelectedEfectivo" style="border: 0.5px solid grey;" #button (click)="seleccionarMetodoDePago('Efectivo')" >
                  
                  <ion-row style="display:flex; justify-content: center; align-items: center;">
                    <fa-icon  [icon]="faMoneyBill" class="fa-2xl"></fa-icon>
                  </ion-row>

                  <ion-row style="display:flex; justify-content: center; align-items: center;">
                    <ion-label  >Efectivo</ion-label>
                  </ion-row>
              
                </ion-col>

                <ion-col size="4" [class.selected]="isSelectedDebito" style="border: 0.5px solid grey;" #button (click)="seleccionarMetodoDePago('Debito')">

                  <ion-row style="display:flex; justify-content: center; align-items: center;">
                    <fa-icon [icon]="faCreditCard" class="fa-2xl"></fa-icon>
                  </ion-row>

                  <ion-row style="display:flex; justify-content: center; align-items: center;">
                    <ion-label >Debito</ion-label>
                  </ion-row>

                </ion-col>

                <ion-col size="4" [class.selected]="isSelectedCredito" style="border: 0.5px solid grey;" #button (click)="seleccionarMetodoDePago('Credito')">

                  <ion-row style="display:flex; justify-content: center; align-items: center;">
                    <fa-icon [icon]="faCreditCard" class="fa-2xl"></fa-icon>
                  </ion-row>

                  <ion-row style="display:flex; justify-content: center; align-items: center;">
                    <ion-label>Credito</ion-label>
                  </ion-row>

                </ion-col>
              </ion-row>

              <ion-row>

                <ion-col size="4" [class.selected]="isSelectedCheque" style="border: 0.5px solid grey;" #button (click)="seleccionarMetodoDePago('Cheque')">
                  <ion-row style="display:flex; justify-content: center; align-items: center;">
                    <fa-icon [icon]="faMoneyCheck" class="fa-2xl"></fa-icon>
                  </ion-row>

                  <ion-row style="display:flex; justify-content: center; align-items: center;">
                    <ion-label>Cheque</ion-label>
                  </ion-row>
                </ion-col>

                <ion-col size="4" [class.selected]="isSelectedOtros" style="border: 0.5px solid grey;" #button (click)="seleccionarMetodoDePago('Otros')">
                  
                  <ion-row style="display:flex; justify-content: center; align-items: center;">
                    <fa-icon [icon]="faMoneyCheckDollar" class="fa-2xl"></fa-icon>
                  </ion-row>

                  <ion-row style="display:flex; justify-content: center; align-items: center;">
                    <ion-label>Otros</ion-label>
                  </ion-row>

                </ion-col>

                <ion-col size="4">
                  
                </ion-col>
              </ion-row>
            </ion-grid>

          </ng-container>
        </nz-modal>

      </ion-footer>

    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="isModalVentaRealizada">
    <ng-template>
      
      <div class="centered-container">

        <img src="assets/icon/iconCheckVentas.png" width="150px" height="150px">
        <br>
        <p><b>Venta realizada</b></p>
        <h1>{{totalVenta | currency:'USD':'symbol':'1.2-2'}}</h1>

      </div>

      <ion-footer>
        <ion-row>
          <button mat-stroked-button style="width: 100%; background-color: #295E91; color: white; "  (click)="setOpenTicket(true)">Ver ticket</button>
        </ion-row>
        <br>
        <ion-row>
          <button mat-flat-button style="width: 100%; background-color: #295E91; color:white" (click)="nuevaVenta()">Nueva venta</button>
        </ion-row>
        <br>
      </ion-footer>
         
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="isModalTicket">
    <ng-template>

      <ion-content  >

        <ion-grid style=" width: 100%;">

          <ion-row>
  
            <button (click)="setOpenTicket(false)" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
              <mat-icon>close</mat-icon>
            </button>
  
          </ion-row>
  
          <ion-item>
            <ion-label slot="start">
              <p>Mi primer negocio</p>
            </ion-label>
  
            <ion-label slot="end">
              <p><b>TICKET #777</b></p>
            </ion-label>
          </ion-item>
  
          <ion-item>
            <ion-label slot="start">
              <p>Nombre propietario</p>
            </ion-label>
          </ion-item>
            
          <ion-item>
            <ion-label slot="start">
              <p>X producto (Cant: X)</p>
            </ion-label>
          </ion-item>
          
          <p style="border: 2px solid black; width: 100%;"></p>
          <ion-list *ngFor="let productoId of productosAgrupados | keys">

            <ion-item>
              <ion-item slot="start">
                <ion-label style="margin-right: 5px;"><b>X{{ productosAgrupados[productoId].cantidad }}</b></ion-label>
                <ion-list style="margin-left: 5px;">
                  <ion-label>{{ productosAgrupados[productoId].nombre }}</ion-label>
                  <ion-label style="color: gray; font-size: 10px;">{{ productosAgrupados[productoId].valorUnitario | currency:'USD':'symbol':'1.2-2' }}</ion-label>
                </ion-list>
              </ion-item>
              
              <ion-label slot="end"> {{ productosAgrupados[productoId].total | currency:'USD':'symbol':'1.2-2' }}</ion-label>
            </ion-item>
  
          </ion-list>

          <ion-item>
            <ion-label style="font-size: 20px;" slot="end"><b>Total: {{totalVenta | currency:'USD':'symbol':'1.2-2'}}</b></ion-label>
          </ion-item>

          <ion-item>
            <ion-label slot="end">Efectivo: {{totalVenta | currency:'USD':'symbol':'1.2-2'}}</ion-label>
          </ion-item>
  
          <p style="border: 2px solid black; width: 100%;"></p>
  
          <p style="text-align: center;"><b>Gracias por su compra</b></p>
          <p style="text-align: center;">{{fechaActual}}</p>
            
        </ion-grid>

        

      </ion-content>

      <ion-footer>

        <ion-row style="justify-content: center; align-items: center;">
          <ion-col size="6" style="display:flex; justify-content: center; align-items: center; border: 1px solid black;">
            
            <ion-item class="boton-enviar">
              <ion-list>
                <mat-icon>send</mat-icon>
                <ion-label>Email</ion-label>
              </ion-list>
              
            </ion-item>
            
          </ion-col>

          <ion-col size="6" style="display:flex; justify-content: center; align-items: center; border: 1px solid black;">
            <ion-item class="boton-compartir">
              <ion-list>
                <mat-icon>share</mat-icon>
                <ion-label>Compartir</ion-label>
              </ion-list>
              
            </ion-item>
          </ion-col>
        </ion-row>

      </ion-footer>
      
    </ng-template>
  </ion-modal>

</ion-footer>